#logo {
   background-image: url('../../images/LOGO_MARRON.png');
   background-size: cover;
   background-repeat: no-repeat;
   width: 90%;
   background-size: contain;
   margin-left: 5%;
   height: 35%;
   background-position: center;
   margin-bottom: 18px;
}

#backgroundLogo {
   background-color: #c3b390;
   height: 20vh;
   width: 23vw;
   display: flex;
   border-radius: 70px;
   align-items: flex-end;
   align-content: flex-end;
   margin: auto;
   position: relative;
   top: -12vh;
}


#container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 0px;
}

.h2Recomendacao {
   font-size: 2.5em;
   font-weight: 400;
   color: #2a2520;
   align-self: normal;
   margin-left: 5%;
}

.secao {
   margin: 0px;
}